
$primaryFont: 'Poppins', sans-serif;

$whiteColor: #ffffff;
$logoColor: #5F82AD;
$navColor:  rgba(0,0,0,.7);
$lightBlackColor: #999999;

$boxShadowColor: rgba(0,0,0,0.1);
$whiteBgColor: #F7F9FA;

$headingColor:  rgba(14,86,104,.79);
$bannerActionColor: rgba(78,78,78,.76);

$fontColor: #2c2e2f;

$bannerGradientStartColor: #EFFAFF;
$bannerGradientEndColor: #958BC5;
